/* Основной цвет бекграунда - #E5E5E5; */
/* Дополнительный цвет бекграунда - #F5F4FA; */
/* Цвет бекграунда хедера - #FFFFFF; */
/* Цвет бекграунда героя, футера - #2F303A; */

/* Цвет основного текста - #757575; */
/* Цвет текста тайтлов - #212121; */
/* Дополнительный цвет текста - #FFFFFF; */
/* Акцент цвет текста - #2196F3; */
/* Цвет текста в футере № тел., e-mail - rgba(255, 255, 255, 0.6); */

:root {
    --primary-bg-color: #E5E5E5;
    --secondary-bg-color: #F5F4FA;
    --header-bg-color: #FFFFFF;
    --hero-footer-bg-color: #2F303A;
    
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --secondary-text-color: #FFFFFF;
    --accent-color: #2196F3;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --logo-studio-text-color: #000000;
}

.page {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

/* Header, footer */
.header {
    background-color: var(--header-bg-color);
}

.logo {
    color: var(--accent-color);
}

.header .logo-studio {
    color: var(--logo-studio-text-color);
}

.footer .logo-studio {
    color: var(--header-bg-color);
}

.header .contacts {
    color: var(--primary-text-color);
}

/* Footer (color при ховере перезапись) */
.footer .contacts {
    color: var(--footer-text-color);
}

.address.contacts {
    color: var(--secondary-text-color);
}

/* Site-nav */
.site-nav .link:hover,
.site-nav .link:focus,
.contacts:hover,
.contacts:focus {
    color: var(--accent-color);
}

.link {
    color: var(--title-text-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

/* section */
.section-title {
    color: var(--title-text-color);
}

/* Hero section */
.hero-title {
    color: var(--secondary-text-color);
}

.hero,
.footer {
    background-color: var(--hero-footer-bg-color);
}

/* Button */
.button {
    background-color: var(--accent-color);
    color: var(--secondary-text-color);
}

/* Benefits */
.benefits .title {
    color: var(--title-text-color);
}

/* Team */
.team {
    background-color: var(--secondary-bg-color);
}

.team-list .title {
    color: var(--title-text-color);
}

                                    /* Portfolio */

.portfolio-list .title {
    color: var(--title-text-color);
}

.portfolio-list .text {
    color: var(--primary-text-color)
}

.portfolio-button {
    background-color: var(--secondary-bg-color);
    color: var(--title-text-color);
}

/* .list {
    list-style: none;
} */